@use '../../styles/breakpoints';

.dashboard {
  padding: var(--space-5);
}

.dashboardTitle {
  margin: 0 auto var(--space-5);
  max-width: 80rem;
}

.dashboardGrid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: var(--space-5);
  margin: 0 auto;
  max-width: 80rem;
}

.colSpanFull,
.colSpan6 {
  grid-column: 1 / -1;
}

@include breakpoints.breakpoint-up(md) {
  .colSpan6 {
    grid-column: span 6 / span 6;
  }
}
